/* Background-color is only one of the options that can be used for the background. Another common use is for background images */
  
    section {
        width: 80%;
        height: 500px;
        background-color: purple;
        margin: 0 auto;
/* background-image will use a url that can be to an image in a folder or an image online. Or it can be used to set a gradient */
        background-image: url(smaller-mossholder-FOY6thQ7qVc-unsplash.jpg);
        background-size: cover;
/* "Cover" will scale the image as large as possile without stretching the image, but it will allow for cropping as necessary. 

"Contain" will scale the image as large as possible without stretching or cropping the image 

background-repeat will repeat the image as specified. there are multiple values for this, such as repeat-x, no-repeat, space, etc.

background-position will allow you to specify the initial position of the background. similar to anchor points

background is shorthand for all of these properties as well as others. can set all at once, or just a few; like other properties. 
UNLIKE other properties, the order doesn't matter for MOST. Background-size may only be included immediately after the <position> separated with the / character: center/80%   The pair can be anywhere within the shorthand, they just need to be together */

    }

    h1 {
        font-size: 100px;
        color: white;
    }

    footer {
        margin: 20px;
        font-size: 10px;
    }